<div id="top-bar">
	<div class="inner">
		<ul class="linklist">
			<li class="icon1 small-icon" data-skip-responsive="true"><a href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->"><h1>{SITENAME}</h1></a></li>
			<li class="icon2 small-icon link"><a href="#">Your Link Here</a></li>
			<li class="icon3 small-icon link"><a href="#">Your Link Here</a></li>

			<!-- EVENT quickstyle_event -->
			<li class="icon4 small-icon link rightside"><a href="#">Your Link Here</a></li>
		</ul>
	</div>
</div>
